nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3px;
  font-size: 1.25em;
}

.nav-el {
  text-align: center;
  background-color: var(--color-bg-secondary);
  padding: 1em;
}

.nav-el.active {
  box-shadow: inset 0 -0.3em 0 0;
  background-color: #313838;
}
